<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity management</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>Welcome to productivity mgmt app!!</h1>
    <div class="container">
        <% for(var task of task_list){ %>
            <div class="taskStyle">
                <h1 class="tName">
                    <%=task.name %>
                </h1>
                <h1 class="tStart">
                    <%=task.start %>
                </h1>
            </div>
        <% } %>
    </div>
    <form class="submitForm" action="/addTasks" method="POST">
        <input type="text" name="taskName">
        <input type="time" name="taskStart">
        <button>Add task</button>
    </form>
</body>

</html>